@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default, night --prefersdark;
}

* {
  font-family: "Rubik", sans-serif;
}